@inject NavigationManager navigationManager

<div style="display: flex; justify-content: space-between;">
    <div style="display: flex;">
        <MudAvatar Style="background-color: #f0f0f0; width: 5ch; height: 5ch;">
            <MudIconButton OnClick="@(() => { navigationManager.NavigateTo($"Student/{student.Id}");})">
                <MudIcon Icon="@Icons.Material.Filled.People" Style="width: 3ch; height: 3ch; color: #594AE2" />
            </MudIconButton>
        </MudAvatar>
        <div class="student-info" style="margin-left: 5ch; width: 25ch;">
            <MudText Typo="Typo.h6">@student.Name</MudText>
            <MudText Typo="Typo.body2">Date of birth: @student.DateOfBirth.Value.ToShortDateString()</MudText>
            <MudText Typo="Typo.body2">Age: @student.Age</MudText>
            <MudText Typo="Typo.body2">Gender: @student.Gender</MudText>
            <MudText Typo="Typo.body2">Class(es): @student.GetAllClassesCode()</MudText>
        </div>
    </div>
    <div style="display: flex;">
        <div class="description">
            <MudText Typo="Typo.h6">Description</MudText>
            <MudText Style="max-height: 6ch; overflow-y:scroll;" Typo="Typo.body2">@student.Description</MudText>
        </div>
        <div>
            <MudTooltip Text="Add">
                <MudIconButton @onclick="@(() => OnAddClick.InvokeAsync())">
                    <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary" />
                </MudIconButton>
            </MudTooltip>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnAddClick { get; set; }

    [Parameter]
    public Student student { get; set; }
}
