@page "/"
@inject NavigationManager navigationManager 
@inject NotificationService notificationService 

<div class="info">
    <div class="info-text">
        <MudText Typo="Typo.h1">MEDU</MudText>
        <MudText Typo="Typo.h5">Free application for personal education system management</MudText>
        <div class="buttons-holder">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="padding: 2.5ch;"><MudText Typo="Typo.body1">Get Started</MudText></MudButton>
            <a rel="noopener" href="https://github.com/hieu-lee/ClassManagement" target="_blank" style="text-decoration: none;">
                <MudButton Variant="Variant.Filled" Style="background-color: #454545; margin-left: 3ch; color: #ffffff; padding: 2.5ch; width: 142px;"><MudText Typo="Typo.body1">Github</MudText></MudButton>
            </a>
        </div>
    </div>
</div>
<div class="features">
    <div class="feature" id="classes" @onclick="@(() => { navigationManager.NavigateTo("/Classes"); })">
        <MudIcon Style="width: 35px; height: 35px; margin-right: 5px;" Icon="@Icons.Outlined.Class" Color="Color.Primary" />
        <div class="abstract">
            <MudText Typo="Typo.h5" Color="Color.Primary">Classes</MudText>
            <MudText Typo="Typo.body2">Manage your classes with many features such as create/remove classes, change class' schedules, adding descriptions and more</MudText>
        </div>
    </div>
    <div class="feature" id="students" @onclick="@(() => { navigationManager.NavigateTo("/Students"); })">
        <MudIcon Style="width: 35px; height: 35px; margin-right: 5px;" Icon="@Icons.Outlined.People" Color="Color.Primary"/>
        <div class="abstract">
            <MudText Typo="Typo.h5" Color="Color.Primary">Students</MudText>
            <MudText Typo="Typo.body2">Manage your students with many features such as create/remove students, calculating student's average grade, adding description and more</MudText>
        </div>
    </div>
    <div class="feature" id="grades" @onclick="@(() => { navigationManager.NavigateTo("/ViewScore"); })">
        <MudIcon Style="width: 35px; height: 35px; margin-right: 5px;" Icon="@Icons.Outlined.Grade" Color="Color.Primary"/>
        <div class="abstract">
            <MudText Typo="Typo.h5" Color="Color.Primary">Tests & Grades</MudText>
            <MudText Typo="Typo.body2">Manage your tests & grades with many features such as create/remove tests/grades, calculating average grade, filtering grades by classes/students/tests and more</MudText>
        </div>
    </div>
    <div class="feature" id="schedules">
        <MudIcon Style="width: 35px; height: 35px; margin-right: 5px;" Icon="@Icons.Outlined.Schedule" Color="Color.Primary" />
        <div class="abstract">
            <MudText Typo="Typo.h5" Color="Color.Primary">Schedules</MudText>
            <MudText Typo="Typo.body2">Manage your teaching schedules with a complete notification system and schedule filtering by classes</MudText>
        </div>
    </div>
</div>
<div class="technologies">
    <div class="holder">
        <div class="description">
            <div>
                <MudText Typo="Typo.h4">Technologies</MudText>
                <MudText Style="margin: 1ch 0;" Typo="Typo.body2">We use Blazor Framework of .NET to write MEDU in <a href="https://dotnet.microsoft.com/languages/csharp" target="_blank" rel="noopener" style="color: #594AE2">C#</a></MudText>
                <a href="https://dotnet.microsoft.com/" target="_blank" rel="noopenner" style="text-decoration: none;">
                    <MudButton Variant="Variant.Filled" Style="background-color: #ffffff; color: #594AE2">Learn about .NET</MudButton>
                </a>
            </div>
        </div>
        <img src="working-robot2.svg" width="450" height="213" alt="Technologies" />
    </div>
</div>
<div class="contributors">
    <div class="holder">
        <img src="working-robot.svg" width="450" height="213" alt="Working robot" />
        <div class="thank-you">
            <div style="max-width: 46ch;">
                <MudText Typo="Typo.h4">Thank You to All the Contributors</MudText>
                <MudText Style="margin: 1ch 0;" Typo="Typo.body2">MEDU is open source and we are very thankful for many contributions it receives from the community</MudText>
                <a href="https://github.com/hieu-lee/ClassManagement/graphs/contributors" target="_blank" rel="noopener" style="text-decoration: none;">
                    <MudButton Variant="Variant.Filled" Style="background-color: #ffffff; color: #594AE2">See the Contributors</MudButton>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="pc-version">
    <div class="holder">
        <div class="pc-version-text">
            <MudText Typo="Typo.h6">Ready to Get Started with the PC Version?</MudText>
            <MudText Style="margin-top: 1ch;" Typo="Typo.body2">Experience MEDU right on your PC</MudText>
        </div>
        <div class="download">
            <div>
                <MudText Typo="Typo.caption">Supported on Windows x32 and x64</MudText>
            </div>
            <MudButton Variant="Variant.Filled" Style="background-color: #ffffff; color: #594AE2; margin-top: 1ch;">Download</MudButton>
        </div>
    </div>
</div>
<footer>
    <ul class="copyright">
        <li>
            <a rel="noopener" href="https://dotnet.microsoft.com/learn/aspnet/what-is-aspnet-core" target="_blank">Powered by .NET 5</a>
        </li>
        <li>
            <a rel="noopener" href="https://hieu-lee.github.io/portfolio/" target="_blank">Contact hieu-lee</a>
        </li>
        <li>
            <a rel="noopener" href="https://malicexx.github.io/" target="_blank">Contact MaliceXX</a>
        </li>
        <li>
            © hieu-lee & MaliceXX
        </li>
    </ul>
</footer>