@page "/Classes"
@inject ClassesService classesService
@inject ISnackbar Snackbar
@inject NavigationManager navigationManager

<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Typo="Typo.h3" Style="text-align:center;">My Classes</MudText>
    @if (loading)
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        <MudText Typo="Typo.h3" Style="text-align: center;">Getting all your classes</MudText>
    }
    else
    {
        @if (MyClasses.Count != 0)
        {
            <div class="search" style="display: flex; justify-content: space-between;">
                <div>
                    <MudTextField Style="max-width: 45ch;" @bind-Value="@SearchClass" Placeholder="Class's code" Label="Class" />
                </div>
                <div style="display: flex; align-items: center;">
                    <MudTooltip Text="Search">
                        <MudIconButton @onclick="DisplayClasses">
                            <MudIcon Style="width: 2.5ch; height: 2.5ch; color: #594AE2" Icon="@Icons.Material.Filled.Search" />
                        </MudIconButton>
                    </MudTooltip>
                </div>
            </div>
            <hr />
            <MudTabs Elevation="4" Rounded="true" Centered="true">
                <MudTabPanel Text="All Classes">
                    <ul style="margin-top: 3ch;">
                        <Virtualize Items="ClassesToDisplay" Context="Class">
                            <li>
                                <div style="display: flex; justify-content: space-between">
                                    <div style="display: flex;">
                                        <div>
                                            <MudIconButton OnClick="@(() => { navigationManager.NavigateTo($"/Class/{Class.Code}/{Class.Id}"); })">
                                                <MudIcon Style="width: 3ch; height: 3ch;" Icon="@Icons.Material.Filled.School" Color="Color.Primary"/>
                                            </MudIconButton>
                                        </div>
                                        <div style="margin-top: 2ch; max-width: 40ch;">
                                            <MudText Typo="Typo.h6">Code: @Class.Code</MudText>
                                            <MudText Typo="Typo.subtitle2">Name: @Class.Name</MudText>
                                        </div>
                                    </div>
                                    <div style="display:flex;">
                                        <div class="description">
                                            <MudText Typo="Typo.h6">Description</MudText>
                                            <MudText Style="max-height: 6ch; overflow-y:scroll;" Typo="Typo.body2">@Class.Description</MudText>
                                            <MudText Typo="Typo.body2"><strong>Address:</strong> @((string.IsNullOrWhiteSpace(Class.Address))?"?":Class.Address)</MudText>
                                        </div>
                                        <div>
                                            <MudTooltip Text="Delete">
                                                <MudIconButton @onclick="@(async () => { await DeleteTodayClassAsync(Class); })">
                                                    <MudIcon Icon="@Icons.Material.Filled.Delete" Style="color: red" />
                                                </MudIconButton>
                                            </MudTooltip>
                                        </div>
                                    </div>
                                </div>
                                <ul style="margin-top: 2ch;">
                                    @foreach (var schedule in Class.Schedules)
                                    {
                                        <li class="schedule-item" @onclick="@(async () => { await DeleteScheduleAsync(Class, schedule); })">
                                            <span>@schedule.Day.ToString() from @schedule.StartTime.ToString() to @schedule.EndTime.ToString()</span>
                                        </li>
                                    }
                                </ul>
                                <hr />
                            </li>
                        </Virtualize>
                    </ul>
                </MudTabPanel>
                <MudTabPanel Text="Today Classes">
                    @if (TodayClasses.Count != 0)
                    {
                        <ul style="margin-top: 3ch;">
                            <Virtualize Items="TodayClassesToDisplay" Context="Class">
                                <li>
                                    <div style="display: flex; justify-content: space-between">
                                        <div style="display: flex;">
                                            <div>
                                                <MudIconButton OnClick="@(() => { navigationManager.NavigateTo($"/Class/{Class.Code}/{Class.Id}"); })">
                                                    <MudIcon Style="width: 3ch; height: 3ch;" Icon="@Icons.Material.Filled.School" Color="Color.Primary" />
                                                </MudIconButton>
                                            </div>
                                            <div style="margin-top: 2ch; max-width: 40ch;">
                                                <MudText Typo="Typo.h6">Code: @Class.Code</MudText>
                                                <MudText Typo="Typo.subtitle2">Name: @Class.Name</MudText>
                                            </div>
                                        </div>
                                        <div style="display:flex;">
                                            <div class="description">
                                                <MudText Typo="Typo.h6">Description</MudText>
                                                <MudText Style="max-height: 6ch; overflow-y:scroll;" Typo="Typo.body2">@Class.Description</MudText>
                                                <MudText Typo="Typo.body2"><strong>Address:</strong> @((string.IsNullOrWhiteSpace(Class.Address))?"?":Class.Address)</MudText>
                                            </div>
                                            <div>
                                                <MudTooltip Text="Delete">
                                                    <MudIconButton @onclick="@(async () => { await DeleteTodayClassAsync(Class); })">
                                                        <MudIcon Icon="@Icons.Material.Filled.Delete" Style="color: red" />
                                                    </MudIconButton>
                                                </MudTooltip>
                                            </div>
                                        </div>
                                    </div>
                                    <ul style="margin-top: 2ch;">
                                        @foreach (var schedule in Class.Schedules)
                                        {
                                            <li class="schedule-item" @onclick="@(async () => { await DeleteScheduleAsync(Class, schedule); })">
                                                <span>@schedule.Day.ToString() from @schedule.StartTime.ToString() to @schedule.EndTime.ToString()</span>
                                            </li>
                                        }
                                    </ul>
                                    <hr />
                                </li>
                            </Virtualize>
                        </ul>
                    }
                    else
                    {
                        <h3 style="text-align: center; margin-top: 3ch;">You are free today, enjoy your day!</h3>
                    }
                </MudTabPanel>
            </MudTabs>

        }
        else
        {
            <h3 style="text-align: center;">You don't have any class yet, add your first class to get start</h3>
        }
    }
</MudContainer>

@code {
    private SortedSet<Class> MyClasses;
    private SortedSet<Class> TodayClasses;
    private SortedSet<Class> ClassesToDisplay = new();
    private SortedSet<Class> TodayClassesToDisplay = new();
    private string SearchClass;
    private bool loading = true;
    private DayOfWeek Today = DateTime.Now.ToLocalTime().DayOfWeek;

    protected override async Task OnInitializedAsync()
    {
        var task = Task.Factory.StartNew(async () =>
        {
            ClassesToDisplay = classesService.GetAllClasses();
            MyClasses = ClassesToDisplay;
            loading = false;
            await InvokeAsync(StateHasChanged);
            TodayClassesToDisplay = classesService.GetClassesFromDay(Today).Classes;
            TodayClasses = TodayClassesToDisplay;
        });
        await task;
    }

    private void DisplayClasses()
    {
        if (string.IsNullOrWhiteSpace(SearchClass))
        {
            ClassesToDisplay = MyClasses;
            TodayClassesToDisplay = TodayClasses;
        }
        else
        {
            SearchClass = SearchClass.Trim().ToUpper();
            ClassesToDisplay = new();
            TodayClassesToDisplay = new();
            foreach (var cls in MyClasses)
            {
                if (cls.Code == SearchClass)
                {
                    ClassesToDisplay.Add(cls);
                }
            }
            foreach (var cls in TodayClasses)
            {
                if (cls.Code == SearchClass)
                {
                    TodayClassesToDisplay.Add(cls);
                }
            }
        }
    }

    private async Task DeleteClassAsync(Class Class)
    {
        ClassesToDisplay.Remove(Class);
        StateHasChanged();
        MyClasses.Remove(Class);
        var res = await classesService.DeleteClass(Class.Id);
        if (res.success)
        {
            Snackbar.Add("Successfully deleted class", Severity.Success);
            if (TodayClasses.Contains(Class))
            {
                if (TodayClassesToDisplay.Contains(Class))
                {
                    TodayClassesToDisplay.Remove(Class);
                }
                TodayClasses.Remove(Class);
            }
            return;
        }
        else
        {
            Snackbar.Add(res.err, Severity.Error);
            return;
        }
    }


    private async Task DeleteTodayClassAsync(Class Class)
    {
        TodayClassesToDisplay.Remove(Class);
        StateHasChanged();
        ClassesToDisplay.Remove(Class);
        TodayClasses.Remove(Class);
        MyClasses.Remove(Class);
        var res = await classesService.DeleteClass(Class.Id);
        if (res.success)
        {
            Snackbar.Add("Successfully deleted class", Severity.Success);
            return;
        }
        else
        {
            Snackbar.Add(res.err, Severity.Error);
            return;
        }
    }

    private async Task DeleteScheduleAsync(Class Class, ClassSchedule schedule)
    {

        var res = await classesService.DeleteSchedule(schedule.Id);
        if (res.success)
        {
            Snackbar.Add("Successfully deleted schedule", Severity.Success);
            Class.Schedules.Remove(schedule);
            StateHasChanged();
            if (TodayClasses.Contains(Class))
            {
                TodayClasses.Remove(Class);
                foreach (var s in Class.Schedules)
                {
                    if (s.Day == Today)
                    {
                        TodayClasses.Add(Class);
                        return;
                    }
                }
                return;
            }
            return;
        }
        Snackbar.Add(res.err, Severity.Error);
    }
}
